.main #content-body {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 0; }
  .main #content-body .block {
    margin-bottom: 0; }

.view-caw-benefit-comparison-tool article.node-dental-benefit h2:first-child {
  height: 50px; }

.view-caw-benefit-comparison-tool article h2:first-child {
  font-size: 16px;
  height: 50px; }

.view-caw-benefit-comparison-tool article .field-name-field-midwives,
.view-caw-benefit-comparison-tool article .field-name-field-pregnancy-termination,
.view-caw-benefit-comparison-tool article .field-name-field-allergy-tests,
.view-caw-benefit-comparison-tool article .field-name-field-allergy-treatment,
.view-caw-benefit-comparison-tool article .field-name-field-dental-treatment,
.view-caw-benefit-comparison-tool article .field-name-field-urgent-care,
.view-caw-benefit-comparison-tool article .field-name-field-hearing-care,
.view-caw-benefit-comparison-tool article .field-name-field-hospital-stay,
.view-caw-benefit-comparison-tool article .field-name-field-skilled-nursing,
.view-caw-benefit-comparison-tool article .field-name-field-physical-therapy,
.view-caw-benefit-comparison-tool article .field-name-field-speech-therapy,
.view-caw-benefit-comparison-tool article .field-name-field-vasectomy,
.view-caw-benefit-comparison-tool article .field-name-field-pap-smears,
.view-caw-benefit-comparison-tool article .field-name-field-immunizations {
  height: 100px; }

.view-caw-benefit-comparison-tool article .field-name-field-full-time-employee-contrib,
.view-caw-benefit-comparison-tool article .field-name-field-part-time-employee-contrib,
.view-caw-benefit-comparison-tool article .field-name-field-chiropractors,
.view-caw-benefit-comparison-tool article .field-name-field-surgery-physician-services,
.view-caw-benefit-comparison-tool article .field-name-field-surgery-facility-charges,
.view-caw-benefit-comparison-tool article .field-name-field-home-health-care,
.view-caw-benefit-comparison-tool article .field-name-field-mail-order-drug-program {
  height: 150px; }

.view-caw-benefit-comparison-tool article .field-name-field-infertility-treatment,
.view-caw-benefit-comparison-tool article .field-name-field-tubal-ligation {
  height: 200px; }

.view-caw-benefit-comparison-tool article .field-name-field-pharmacy-retail,
.view-caw-benefit-comparison-tool article .field-name-field-pre-authorization-require,
.view-caw-benefit-comparison-tool article .field-name-field-out-of-pocket-maximum,
.view-caw-benefit-comparison-tool article .field-name-field-autism {
  height: 250px; }

.view-caw-benefit-comparison-tool article .field-name-field-care-management,
.view-caw-benefit-comparison-tool article .field-name-field-mental-health,
.view-caw-benefit-comparison-tool article .field-name-field-substance-abuse {
  height: 400px; }

.view-caw-benefit-comparison-tool article .field-group-fieldset {
  margin-top: 40px; }

.view-caw-benefit-comparison-tool article .field-name-body {
  height: 200px; }

.view-caw-benefit-comparison-tool article .fieldset-wrapper {
  font-size: 12px; }

.view-caw-benefit-comparison-tool article .row-300 {
  height: 300px; }

.view-caw-benefit-comparison-tool h2.plan-rates-title {
  background-color: #e9edee;
  padding: 20px; }

.view-caw-benefit-comparison-tool h3.no-spacing,
.view-caw-benefit-comparison-tool h3.spacing {
  font-weight: normal;
  margin: 10px 0 0; }

.view-caw-benefit-comparison-tool hr {
  margin: 0 5px; }

.view-caw-benefit-comparison-tool legend {
  font-size: 14px; }

.view-caw-benefit-comparison-tool table.views-view-grid {
  display: block;
  height: 800px;
  margin-bottom: 0;
  overflow: auto; }

.view-caw-benefit-comparison-tool #dental-plan-header {
  float: left; }

.view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper {
  float: left;
  width: 100%; }
  .view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper label {
    color: #8c1515;
    float: left;
    font-size: 12px; }
  .view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper .description {
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%; }
  .view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper .views-widget {
    float: left;
    width: 100%; }

.view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper .form-item,
.view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper .form-item {
  float: left;
  width: 100%; }

.view-caw-benefit-comparison-tool #dental-plan-header {
  float: left;
  margin-top: 45px; }

.view-caw-benefit-comparison-tool .full-plan-costs-wrapper {
  margin-top: 20px; }

.view-caw-benefit-comparison-tool #medical-plan-header {
  float: left;
  margin-bottom: 0; }

.view-caw-benefit-comparison-tool #dental {
  float: left; }

.view-caw-benefit-comparison-tool .bef-toggle {
  float: left;
  font-size: 12px;
  margin-bottom: 20px; }

.view-caw-benefit-comparison-tool .bef-checkboxes .form-type-bef-checkbox {
  float: left;
  margin-bottom: 10px;
  width: 100%; }

.view-caw-benefit-comparison-tool .bef-checkboxes .form-type-bef-checkbox input[type="checkbox"] {
  float: left;
  width: 20px; }

.view-caw-benefit-comparison-tool .bef-checkboxes .form-type-bef-checkbox label.option {
  float: left;
  line-height: 12px;
  width: auto; }

.view-caw-benefit-comparison-tool .view-content {
  display: block;
  float: left;
  margin-top: 20px;
  width: 100%; }

.view-caw-benefit-comparison-tool .view-empty {
  float: left;
  margin-bottom: 30px;
  padding-left: 2%;
  width: 98%; }

.view-caw-benefit-comparison-tool .view-header {
  float: right;
  margin-bottom: 40px;
  padding: 0 3%;
  width: 47%; }

.view-caw-benefit-comparison-tool .view-filters {
  float: left;
  padding-left: 2%;
  width: 45%; }

.view-caw-benefit-comparison-tool .vision-plan-wrapper a,
.view-caw-benefit-comparison-tool .full-plan-costs-wrapper a {
  font-size: 14px;
  font-weight: bold; }

.view-caw-benefit-comparison-tool .vision-plan-wrapper p,
.view-caw-benefit-comparison-tool .full-plan-costs-wrapper p {
  margin: 0; }

.view-caw-benefit-comparison-tool .vision-plan-wrapper ul,
.view-caw-benefit-comparison-tool .full-plan-costs-wrapper ul {
  margin: 0; }
  .view-caw-benefit-comparison-tool .vision-plan-wrapper ul li,
  .view-caw-benefit-comparison-tool .full-plan-costs-wrapper ul li {
    list-style-type: none; }

.view-caw-benefit-comparison-tool .vision-plan-wrapper .views-widget-filter-term_node_tid_depth_join select,
.view-caw-benefit-comparison-tool .full-plan-costs-wrapper .views-widget-filter-term_node_tid_depth_join select {
  width: 100%; }
