.node-type-benefit article,
.node-type-dental-benefit article {
  padding: 1em; }
  .node-type-benefit article fieldset,
  .node-type-dental-benefit article fieldset {
    margin-bottom: 2em; }

.main #content-body {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 0; }
  .main #content-body .block {
    margin-bottom: 0; }
    .main #content-body .block .field-name-field-overall-accredition-status .field-label,
    .main #content-body .block .field-name-field-overall-accredition-status .field-items,
    .main #content-body .block .field-name-field-access-services .field-label,
    .main #content-body .block .field-name-field-access-services .field-items,
    .main #content-body .block .field-name-field-qualified-providers .field-label,
    .main #content-body .block .field-name-field-qualified-providers .field-items,
    .main #content-body .block .field-name-field-staying-healthy .field-label,
    .main #content-body .block .field-name-field-staying-healthy .field-items,
    .main #content-body .block .field-name-field-getting-better .field-label,
    .main #content-body .block .field-name-field-getting-better .field-items,
    .main #content-body .block .field-name-field-living-with-illness .field-label,
    .main #content-body .block .field-name-field-living-with-illness .field-items {
      float: left;
      margin-top: 0;
      width: 100%; }

body.not-logged-in #edit-field-su-plan-year-value-wrapper {
  top: 400px; }

.view-caw-benefit-comparison-tool article.node-dental-benefit h2:first-child {
  background-color: #e9edee;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-weight: 600;
  height: 100px;
  padding: 0.5em 0.5em 20px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 100; }
  .view-caw-benefit-comparison-tool article.node-dental-benefit h2:first-child a {
    font-weight: 600; }

.view-caw-benefit-comparison-tool article h2:first-child {
  background-color: #e9edee;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-weight: 600;
  height: 100px;
  padding: 0.5em 0.5em 20px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 100; }
  .view-caw-benefit-comparison-tool article h2:first-child a {
    font-weight: 600; }

.view-caw-benefit-comparison-tool article .field-group-fieldset {
  margin-top: 40px; }
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-access-serv .field-label,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-access-serv .field-items,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-qualified-providers .field-label,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-qualified-providers .field-items,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-staying-healthy .field-label,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-staying-healthy .field-items,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-getting-better .field-label,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-getting-better .field-items,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-living-with-illness .field-label,
  .view-caw-benefit-comparison-tool article .field-group-fieldset.hide .field-name-field-su-living-with-illness .field-items {
    display: none; }

.view-caw-benefit-comparison-tool article .fieldset-wrapper {
  font-size: 13px;
  line-height: 1.3em; }
  .view-caw-benefit-comparison-tool article .fieldset-wrapper .fieldset-description {
    height: 110px; }
  .view-caw-benefit-comparison-tool article .fieldset-wrapper .field-label {
    padding-top: 20px; }
  .view-caw-benefit-comparison-tool article .fieldset-wrapper .field-name-field-overall-accredition-status {
    height: 60px; }

.view-caw-benefit-comparison-tool h2.plan-rates-title {
  background-color: #e9edee;
  margin-bottom: 0px;
  padding: 20px; }

.view-caw-benefit-comparison-tool h3.no-spacing,
.view-caw-benefit-comparison-tool h3.spacing {
  font-weight: normal;
  margin: 10px 0 0; }

.view-caw-benefit-comparison-tool hr {
  margin: 0 5px; }

.view-caw-benefit-comparison-tool input.form-submit {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.1em; }

.view-caw-benefit-comparison-tool legend {
  font-size: 15px; }

.view-caw-benefit-comparison-tool table.views-view-grid {
  display: block;
  height: 1000px;
  margin-bottom: 0;
  overflow: auto; }
  .view-caw-benefit-comparison-tool table.views-view-grid tbody {
    display: table;
    width: 100%;
    height: 100%; }
    .view-caw-benefit-comparison-tool table.views-view-grid tbody td.col-2.col-last {
      width: 50%; }

.view-caw-benefit-comparison-tool #edit-field-su-plan-year-value-wrapper, .view-caw-benefit-comparison-tool div[id^="edit-field-su-plan-year-value--"] {
  background: #e9edee;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 10px;
  top: 70px;
  width: auto;
  z-index: 999; }
  .view-caw-benefit-comparison-tool #edit-field-su-plan-year-value-wrapper a, .view-caw-benefit-comparison-tool div[id^="edit-field-su-plan-year-value--"] a {
    display: block;
    float: left;
    margin-right: 10px; }
    .view-caw-benefit-comparison-tool #edit-field-su-plan-year-value-wrapper a.active, .view-caw-benefit-comparison-tool div[id^="edit-field-su-plan-year-value--"] a.active {
      background: #000; }
  .view-caw-benefit-comparison-tool #edit-field-su-plan-year-value-wrapper label, .view-caw-benefit-comparison-tool div[id^="edit-field-su-plan-year-value--"] label {
    font-weight: normal; }

.view-caw-benefit-comparison-tool #dental-plan-header {
  float: left; }

.view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper,
.view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper {
  float: left;
  width: 100%; }
  .view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper label,
  .view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper label {
    color: #8c1515;
    float: left;
    font-size: 13px; }
  .view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper .description,
  .view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper .description {
    float: left;
    font-size: 13px;
    margin-bottom: 10px;
    width: 100%; }
  .view-caw-benefit-comparison-tool #edit-term-medical-active-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-medical-preretirees-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-medical-retirees-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper .views-widget,
  .view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper .views-widget {
    float: left;
    width: 100%; }

.view-caw-benefit-comparison-tool #edit-term-dental-active-benefit-wrapper .form-item,
.view-caw-benefit-comparison-tool #edit-term-dental-retirees-benefit-wrapper .form-item {
  float: left;
  width: 100%; }

.view-caw-benefit-comparison-tool #dental-plan-header {
  float: left;
  margin-top: 45px; }

.view-caw-benefit-comparison-tool .full-plan-costs-wrapper {
  margin-top: 20px; }

.view-caw-benefit-comparison-tool #medical-plan-header {
  float: left;
  margin-bottom: 0; }

.view-caw-benefit-comparison-tool #dental {
  float: left; }

.view-caw-benefit-comparison-tool .bef-toggle {
  float: left;
  font-size: 11px;
  margin-bottom: 20px; }

.view-caw-benefit-comparison-tool .bef-checkboxes .form-type-bef-checkbox {
  float: left;
  margin-bottom: 10px;
  width: 100%; }

.view-caw-benefit-comparison-tool .bef-checkboxes .form-type-bef-checkbox input[type="checkbox"] {
  float: left;
  width: 20px; }

.view-caw-benefit-comparison-tool .bef-checkboxes .form-type-bef-checkbox label.option {
  float: left;
  line-height: 12px;
  width: auto; }

.view-caw-benefit-comparison-tool .view-content {
  display: block;
  float: left;
  width: 100%; }
  .view-caw-benefit-comparison-tool .view-content article .content {
    padding: 0.5em; }
  .view-caw-benefit-comparison-tool .view-content article .contextual-links-wrapper {
    float: right;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 100; }
    .view-caw-benefit-comparison-tool .view-content article .contextual-links-wrapper ul li {
      list-style-type: none; }
  .view-caw-benefit-comparison-tool .view-content td {
    padding: 0; }

.view-caw-benefit-comparison-tool .view-empty {
  float: left;
  margin-bottom: 30px;
  padding-left: 2%;
  width: 98%; }

.view-caw-benefit-comparison-tool .view-header {
  float: right;
  margin-bottom: 40px;
  padding: 0 3%;
  width: 47%; }

.view-caw-benefit-comparison-tool .view-filters {
  float: left;
  padding-left: 2%;
  width: 45%; }

.view-caw-benefit-comparison-tool .views-exposed-form h2,
.view-caw-benefit-comparison-tool .view-header h2 {
  background-color: #d7ddde;
  margin-bottom: 5px;
  padding: 10px; }

.view-caw-benefit-comparison-tool .full-plan-costs-wrapper a {
  font-size: 13px;
  font-weight: bold; }

.view-caw-benefit-comparison-tool .full-plan-costs-wrapper p {
  margin: 0; }

.view-caw-benefit-comparison-tool .full-plan-costs-wrapper ul {
  margin: 0; }
  .view-caw-benefit-comparison-tool .full-plan-costs-wrapper ul li {
    list-style-type: none; }

.view-caw-benefit-comparison-tool .full-plan-costs-wrapper .views-widget-filter-term_node_tid_depth_join select {
  width: 100%; }

.view-caw-benefit-comparison-tool .vision-plan-wrapper {
  padding-top: 122px; }
  .view-caw-benefit-comparison-tool .vision-plan-wrapper a {
    font-size: 13px;
    font-weight: bold; }
  .view-caw-benefit-comparison-tool .vision-plan-wrapper p {
    margin: 0; }
  .view-caw-benefit-comparison-tool .vision-plan-wrapper ul {
    margin: 0; }
    .view-caw-benefit-comparison-tool .vision-plan-wrapper ul li {
      list-style-type: none; }
  .view-caw-benefit-comparison-tool .vision-plan-wrapper .views-widget-filter-term_node_tid_depth_join select {
    width: 100%; }

.view-caw-benefit-comparison-tool .view-footer {
  background-color: #dff0d8;
  color: #000;
  float: left;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  width: 99%; }

@media screen and (max-width: 430px) {
  .view-caw-benefit-comparison-tool #edit-field-su-plan-year-value-wrapper a,
  .view-caw-benefit-comparison-tool div[id^="edit-field-su-plan-year-value--"] a {
    margin-bottom: 10px; } }

@media screen and (max-width: 1000px) {
  .view-caw-benefit-comparison-tool .vision-plan-wrapper {
    padding-top: 20px; } }
