.view-caw-benefit-comparison-tool {

  h2.plan-rates-title {
    background-color: #e9edee;
    padding: 20px;
  }

  h3.no-spacing,
  h3.spacing {
    font-weight: normal;
    margin: 10px 0 0;
  }

  hr {
    margin: 0 5px;
  }

  legend {
    font-size: 14px;
  }

  table.views-view-grid {
    display: block;
    height: 600px;
    overflow: auto;
    width: 800px;
  }

  #dental-plan-header {
    float: left;
  }

  #edit-term-medical-active-benefit-wrapper,
  #edit-term-medical-preretirees-benefit-wrapper,
  #edit-term-medical-retirees-benefit-wrapper,
  #edit-term-dental-active-benefit-wrapper,
  #edit-term-dental-retirees-benefit-wrapper {
    float: left;
    width: 100%;

    label {
      color: #8c1515;
      float: left;
      font-size: 14px;
    }

    .description {
      float: left;
      font-size: 14px;
      margin-bottom: 10px;
      width: 100%;
    }

    .views-widget {
      float: left;
      width: 100%;
    }
  }

  #edit-term-dental-active-benefit-wrapper .form-item,
  #edit-term-dental-retirees-benefit-wrapper .form-item {
    float: left;
    width: 100%;
  }

  #dental-plan-header {
    float: left;
    margin-top: 20px;
  }

  .full-plan-costs-wrapper {
    margin-top: 20px;
  }

  #medical-plan-header {
    float: left;
    margin-bottom: 0;
  }

  #dental {
    float: left;
  }

  .bef-toggle {
    float: left;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .bef-checkboxes .form-type-bef-checkbox {
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }

  .bef-checkboxes .form-type-bef-checkbox input[type="checkbox"] {
    float: left;
    width: 20px;
  }

  .bef-checkboxes .form-type-bef-checkbox label.option {
    float: left;
    line-height: 12px;
    width: auto;
  }

  .field-name-field-midwives,
  .field-name-field-pregnancy-termination {
    height: 100px;
  }

  .field-name-field-full-time-employee-contrib,
  .field-name-field-part-time-employee-contrib {
    height: 150px;
  }

  .field-name-field-pre-authorization-require,
  .field-name-field-out-of-pocket-maximum,
  .field-name-field-autism {
    height: 250px;
  }

  .field-name-field-care-management,
  .field-name-field-mental-health,
  .field-name-field-substance-abuse {
    height: 400px;
  }

  .field-group-fieldset {
    margin-top: 40px;
  }

  .field-name-body {
    height: 200px;
  }

  .row-300 {
    height: 300px;
  }

  .view-content {
    display: block;
    float: left;
    margin-top: 40px;
    width: 100%;
  }

  .view-empty {
    float: left;
    width: 100%;
  }

  .view-header {
    float: right;
    width: 50%;
  }

  .view-filters {
    float: left;
    width: 50%;
  }

  .vision-plan-wrapper,
  .full-plan-costs-wrapper {
    a {
      font-size: 14px;
      font-weight: bold;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0;

      li {
        list-style-type: none;
      }
    }

    .views-widget-filter-term_node_tid_depth_join select {
      width: 100%;
    }
  }
}
