.content .node-benefit h2 {
  font-size: 18px;
  height: 50px;
}

.view-caw-benefit-comparison-tool {
  legend {
    font-size: 14px;
  }

  .bef-toggle {
    float: left;
    margin-bottom: 20px;
  }

  .bef-checkboxes .form-type-bef-checkbox {
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }

  .bef-checkboxes .form-type-bef-checkbox input[type="checkbox"] {
    float: left;
    width: 3%;
  }

  .bef-checkboxes .form-type-bef-checkbox label.option {
    float: left;
    line-height: 12px;
    width: 97%;
  }

  .field-name-field-midwives,
  .field-name-field-pregnancy-termination {
    height: 100px;
  }

  .field-name-field-full-time-employee-contrib,
  .field-name-field-part-time-employee-contrib {
    height: 150px;
  }

  .field-name-field-pre-authorization-require,
  .field-name-field-out-of-pocket-maximum,
  .field-name-field-autism {
    height: 250px;
  }

  .field-name-field-care-management,
  .field-name-field-mental-health,
  .field-name-field-substance-abuse {
    height: 400px;
  }

  .field-group-fieldset {
    margin-top: 40px;
  }

  .field-name-body {
    height: 200px;
  }

  .row-300 {
    height: 300px;
  }

  .view-content {
    display: none;
  }

  .views-widget-filter-term_node_tid_depth_join select {
    width: 100%;
  }
}
