.node-type-benefit,
.node-type-dental-benefit {
  article {
    padding: 1em;

    fieldset {
      margin-bottom: 2em;
    }
  }
}

.main #content-body {
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  margin-bottom: 0;

  .block {
    margin-bottom: 0;

    .field-name-field-overall-accredition-status,
    .field-name-field-access-services,
    .field-name-field-qualified-providers,
    .field-name-field-staying-healthy,
    .field-name-field-getting-better,
    .field-name-field-living-with-illness {
      .field-label,
      .field-items {
        float: left;
        margin-top: 0;
        width: 100%;
      }
    }
  }
}

body.not-logged-in #edit-field-su-plan-year-value-wrapper {
  top: 400px;
}

.view-caw-benefit-comparison-tool {
  article.node-dental-benefit {
    h2:first-child {
      background-color: #e9edee;
      box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
      font-size: 17px;
      font-weight: 600;
      height: 100px;
      padding: 0.5em 0.5em 20px;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      z-index: 100;

      a {
        font-weight: 600;
      }
    }
  }

  article {
    h2:first-child {
      background-color: #e9edee;
      box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
      font-size: 17px;
      font-weight: 600;
      height: 100px;
      padding: 0.5em 0.5em 20px;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      z-index: 100;

      a {
        font-weight: 600;
      }
    }

    .field-group-fieldset {
      margin-top: 40px;
    }

    .fieldset-wrapper {
      font-size: 13px;
      line-height: 1.3em;
      .fieldset-description {
        height: 110px
      }

      .field-label {
        padding-top: 20px;
      }

      .field-name-field-overall-accredition-status {
        height: 60px;
      }
    }
  }

  h2.plan-rates-title {
    background-color: #e9edee;
    margin-bottom: 120px;
    padding: 20px;
  }

  h3.no-spacing,
  h3.spacing {
    font-weight: normal;
    margin: 10px 0 0;
  }

  hr {
    margin: 0 5px;
  }

  input.form-submit {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
  }

  legend {
    font-size: 15px;
  }

  table.views-view-grid {
    display: block;
    height: 1000px;
    margin-bottom: 0;
    overflow: auto;
    tbody {
      display: table;
      width: 100%;
      height: 100%;

      td.col-2.col-last {
        width: 50%;
      }
    }
  }

  #edit-field-su-plan-year-value-wrapper {
    background: #e9edee;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    margin: 20px 0;
    padding: 10px;
    position: absolute;
    top: 70px;
    width: auto;
    z-index: 999;

    a {
      display: inline-block;
      float: left;
      margin-right: 10px;

      &.active {
        background: #000;
      }
    }

    label {
      font-weight: normal;
    }
  }

  #dental-plan-header {
    float: left;
  }

  #edit-term-medical-active-benefit-wrapper,
  #edit-term-medical-preretirees-benefit-wrapper,
  #edit-term-medical-retirees-benefit-wrapper,
  #edit-term-dental-active-benefit-wrapper,
  #edit-term-dental-retirees-benefit-wrapper {
    float: left;
    width: 100%;

    label {
      color: #8c1515;
      float: left;
      font-size: 13px;
    }

    .description {
      float: left;
      font-size: 13px;
      margin-bottom: 10px;
      width: 100%;
    }

    .views-widget {
      float: left;
      width: 100%;
    }
  }

  #edit-term-dental-active-benefit-wrapper .form-item,
  #edit-term-dental-retirees-benefit-wrapper .form-item {
    float: left;
    width: 100%;
  }

  #dental-plan-header {
    float: left;
    margin-top: 45px;
  }

  .full-plan-costs-wrapper {
    margin-top: 20px;
  }

  #medical-plan-header {
    float: left;
    margin-bottom: 0;
  }

  #dental {
    float: left;
  }

  .bef-toggle {
    float: left;
    font-size: 11px;
    margin-bottom: 20px;
  }

  .bef-checkboxes .form-type-bef-checkbox {
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }

  .bef-checkboxes .form-type-bef-checkbox input[type="checkbox"] {
    float: left;
    width: 20px;
  }

  .bef-checkboxes .form-type-bef-checkbox label.option {
    float: left;
    line-height: 12px;
    width: auto;
  }

  .view-content {
    display: block;
    float: left;
    width: 100%;

    article {
      .content {
        padding: 0.5em;
      }

      .contextual-links-wrapper {
        float: right;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 100;

        ul li {
          list-style-type: none;
        }
      }
    }

    td {
      padding: 0;
    }
  }

  .view-empty {
    float: left;
    margin-bottom: 30px;
    padding-left: 2%;
    width: 98%;
  }

  .view-header {
    float: right;
    margin-bottom: 40px;
    padding: 0 3%;
    width: 47%;
  }

  .view-filters {
    float: left;
    padding-left: 2%;
    width: 45%;
  }

  .views-exposed-form,
  .view-header {
    h2 {
      background-color: #d7ddde;
      margin-bottom: 5px;
      padding: 10px;
    }
  }

  .vision-plan-wrapper,
  .full-plan-costs-wrapper {
    a {
      font-size: 13px;
      font-weight: bold;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0;

      li {
        list-style-type: none;
      }
    }

    .views-widget-filter-term_node_tid_depth_join select {
      width: 100%;
    }
  }

  .view-footer {
    background-color: #dff0d8;
    color: #000;
    float: left;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    width: 99%;
  }
}
